# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/node_modules
server/.pnp
server/.pnp.js
browser-app/node_modules
browser-app/.pnp
browser-app/.pnp.js

# testing
server/coverage
browser-app/coverage

# production
server/build
browser-app/build

# misc
browser-app/.DS_Store
browser-app/.env.local
browser-app/.env.development.local
browser-app/.env.test.local
browser-app/.env.production.local

browser-app/npm-debug.log*
browser-app/yarn-debug.log*
browser-app/yarn-error.log*

server/.env
server/firebase-service-account.json
